# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/
ENV/
env/

# =========================
# Package / build artifacts
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter / experiments
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Testing / coverage
# =========================
.coverage
htmlcov/

# =========================
# Docker
# =========================
*.pid
